#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

/* Vertical alignment of the content */
.sf-insight-valigned {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

/* Typography */
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Condense";
    src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Condense Bold";
    src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");

}

.sf-insight-title {
  font: 500 20px/1.2em 'Roboto', Arial, sans-serif; 
  margin: 0;
}
	#login .sf-insight-title{
    	margin-top: 12%;    
    }
.sf-insight-bigtitle {
  font: 700 55px/1 Arial, 'Segoe UI', sans-serif;  
  text-transform: uppercase;
  letter-spacing: -1px;
}
    .km-content h1.sf-insight-bigtitle {
      margin: 0 0 25px;
    }
.sf-insight-midtitle {
  font: 500 32px/1 'Roboto Condense',Arial, 'Segoe UI', sans-serif;
}
h2.sf-insight-title-link,
.sf-insight-bigtitle, .sf-insight-title {
    color: #496CB6;    
    text-align: center;
}
h2.sf-insight-title-link a {
    text-decoration: none;
    text-align: left;
    display: block;
    font-family: 'Roboto Condense', 'Roboto', Arial, sans-serif;     
}
h2.sf-insight-title-link a:active {
    color: #30539D;
}

.km-flat.km-flat .km-view .km-navbar .km-view-title {    
  font-size: 1.2em;
  line-height: 2.7em;
  font-family: 'Roboto Condense Bold', Arial, sans-serif; 
  text-transform: uppercase;
}
.km-flat {
    font-family: Arial, 'Segoe UI', sans-serif; 
}
.sf-insight-details-text {
	font-size: 14px;
    line-height: 1.25em;
}

/* Forms */
.sf-insight-text {
    position: static !important;
    width: 100% !important;
    height: 46px !important;
    line-height: 46px !important;
    color: #333333 !important;
    background: #ffffff !important;
    box-shadow: inset 0 0 3px -1px #444;
    display: block !important;
    border: none !important;
    margin: 0 0 10px !important;
    padding: 0 10px !important;
    font-size: 1rem !important;
    border-radius: 0 !important;
}

.sf-insight-button-green {
    background: #37C692 !important;
  	text-transform: uppercase;
    font: 700 15px Arial, 'Segoe UI', sans-serif !important;
    height: 48px !important;
    line-height: 48px !important;
    border-radius: 4px !important;
    padding: 0 !important;
    border: none !important;
    color: #ffffff !important;
}
	.sf-insight-button-green span {
    	color: #ffffff !important;        
    }
.km-flat .km-view .km-content .km-button.sf-insight-button-green.km-state-active {
    background: #1BBF71 !important;
}

#form .km-listinset {
    margin: 10% !important;
}

/* Interface */ 
.km-flat.km-flat .km-view .km-navbar .km-button,
.km-flat.km-flat .km-view .km-navbar {
    background: #5273B7;
    color: #ffffff;
}
.km-flat.km-flat .km-view .km-navbar .km-button {
    border: none;
  	margin: 0 !important;
    padding: .54em .5em;
    font-size: 22px;
}
.km-flat.km-flat .km-view .km-navbar .km-leftitem .km-button {
    padding-right: .8em;
}
.km-flat.km-flat .km-view .km-navbar .km-rightitem .km-button {
    padding-left: .8em;
}
.km-flat.km-flat .km-view .km-navbar .km-button.sf-insight-button-small {
  	padding-top: .77em;
  	padding-bottom: .77em;
    font-size: 18px;
}
.km-flat.km-flat .km-view .km-navbar .km-button.sf-insight-button-xsmall {
    padding-top: .95em;
    padding-bottom: .95em;
    font-size: 15px;
}
.km-flat.km-flat .km-view .km-navbar .km-button.km-state-active {
    background: #395A9E;
}
.km-on-ios.km-on-ios.km-black-translucent-status-bar.km-app .km-header .km-navbar {
    padding-top: .2em;
}
.km-flat.km-flat .km-view .km-tabstrip .km-button {
    background: #ffffff;
    color: #949494;
    padding-top: 1em;
}
.km-flat.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background: #ffffff;
    color: #496CB6;
}
.km-flat.km-flat .km-view .km-tabstrip {
    /*border-top: 1px solid #aaaaaa; */
}
.km-flat.km-flat .km-view .km-tabstrip .km-icon {
    display: none !important; 
}
.km-flat.km-flat .km-badge {    
    background: #496CB6;
    margin-top: .7em;
    margin-left: .4em;
}
.km-flat.km-flat .km-view .km-tabstrip .km-button.km-state-active .km-badge {
    display: none;
}

.sf-insight-comments,
.sf-insight-likes {
    background: none !important;
    color: #5273BA !important;
    border: none !important;
}
.sf-insight-comments {
    text-align: right;
    padding-right: 0 !important;
}
.sf-insight-likes {
    text-align: left;
    padding-left: 0 !important;
}
.sf-insight-likes span.km-text,
.sf-insight-comments span.km-text{
    color: #5273BA !important;
    font-weight: 700;
  	font-size: 12px;
}
.sf-insight-comments.km-state-active,
.sf-insight-likes.km-state-active,
.sf-insight-likes.km-state-active span.km-text,
.sf-insight-comments.km-state-active span.km-text {
    color: #395A9E;    
}
.sf-insight-banner {
    background: #4FC1DF;
    color: #ffffff;
    margin: -1em -.7em;
    padding: 1.3em .7em .5em 7.5em;
}
.sf-insight-banner.gamer-banner {
    background: #5DE3A3;
}
.sf-insight-banner.gamer-banner .sf-insight-phone {
    background: #1BBF71;    
}
.sf-insight-banner.default-banner {
    background: #88A5C9;
}
.sf-insight-banner h3 {
    margin-top: 0 !important;
  	font-family: 'Roboto Condense Bold', Arial, sans-serif; 
  	text-transform: uppercase;
    margin-right: 0 !important;
}
.sf-insight-banner .sf-insight-phone {
    margin-left: 0%;
    border-radius: 1em;
    padding: .4em 1em; 
    background: #2098B6;
  	font-family: 'Roboto Condense Bold', Arial, sans-serif; 
    font-size: 16px;
    text-decoration: none;
}
.km-list>li, .km-widget .km-listview-link, .km-widget .km-listview-label {
    padding: 1em .7em;
}
.km-flat .km-loader:before,
.km-flat .km-scroller-pull,
.km-flat .km-touch-scrollbar,
.km-flat .km-scroller-refresh.km-load-more {
    background: #5172B6;
}
.km-flat .km-loader {
    background-color: rgba(40,40,40,.5);
}
hr {
  margin: 0 1em;
  height: 1px;
  border: none;
  background-color: #ddd;
}
.sf-insight-share-buttons button {
	color: #5273BA !important;
    background: #ffffff !important;
    font: 700 14px Arial, 'Segoe UI', sans-serif !important;
    margin: 0 0 -1px !important;
    border: 1px solid #cccccc;
    border-radius: 0 !important;
    padding: 1em .8em !important;
}
.sf-insight-share-buttons ul li:first-child button {
    border-top-left-radius: .4em !important;
    border-top-right-radius: .4em !important;
}
.sf-insight-share-buttons ul li:last-child button {
    border-bottom-left-radius: .4em !important;
    border-bottom-right-radius: .4em !important;
}
.sf-insight-share-buttons uasl,
.sf-insight-share-buttons form.sha12re-form {
    margin: 1em 0 !important;
}
.sf-insight-share-buttons ul li {
  padding: 0 !important;
  border: none !important;
}
.km-footer {
  background: #F1F1F1 !important;    
    border-top: 1px solid #cccccc;
}
.sf-insight-block {
    display: block !important;
}
.sf-insight-hide {
    display: none !important;
}
.sf-insight-profile {
    text-align: center;
}
.sf-insight-profile h2{
    font: 500 32px/1 'Roboto Condense', Arial, 'Segoe UI', sans-serif;
    margin: .5rem 1rem !important;
}
.sf-insight-profile h3{
    font: 500 14px/1 Arial, 'Segoe UI', sans-serif;
    margin: .5rem 1rem !important;
}
/* Devices */
.sf-insight-device img {
  	float: left !important;    
  	margin-left: -5%  !important;
    width: 30% !important;
}
.sf-insight-devices > li.km-state-active,
.sf-insight-devices > li.km-state-active a {
    background: #496CB4 !important;
}
.sf-insight-devices > li {
  padding: 0 .7em !important;
}
.sf-insight-devices > li > a {
  margin: 0 !important;
}
.sf-insight-devices > li > a:after {
    display: none;
}
.sf-insight-devices > li.km-state-active .sf-insight-device-name  {
    color: #ffffff;
}
.sf-insight-devices > li.km-state-active .sf-insight-views-count  {
    background: #ffffff;
    color: #555555;
}
.sf-insight-device ul {
    list-style-type: none
}
.sf-insight-device-name {
  	font-family: Arial, 'Segoe UI', sans-serif;
  	font-weight: 700;
  	color: #496CB6;
    font-size: 14px;
}
.sf-insight-device-id {
    font-size: 14px;
}
.sf-insight-views-count {
    float: right;
    display: block;
    border-radius: 50%;
    background: #496CB4;
    color: #ffffff;
  	font-family: Arial, 'Segoe UI', sans-serif;
  	font-weight: 700;
    font-size: 14px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: -10%;
}
.sf-insight-device-info {
    padding: 1.4em 0 1em;
}
.sf-insight-device-info h2 {
    font: 500 32px/1 'Roboto Condense', Arial, 'Segoe UI', sans-serif; 
    margin: .5rem 0 !important;   
    color: #333333;
}
.sf-insight-device-info ul {
    list-style-type: none;    
}
.sf-insight-device-updates ul {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.sf-insight-device-updates li,
.sf-insight-device-container .km-content.km-widget.km-scroll-wrapper {
    background: #fff !important;
}
.sf-insight-device-updates li {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;   
    padding: 1.5em 1em !important;
}
.sf-insight-device-updates li span {
  font: 400 16px/1 'Roboto Condense', Arial, 'Segoe UI', sans-serif;  
  color: #496CB6;
}
.sf-insight-device-updates li p {
    margin: 0 !important
}
.sf-insight-not-seen {
    position: relative;
    padding-left: 2.5rem;
}
.sf-insight-not-seen:before {
    content: '';
    border-radius: 50%;
    background: #496CB4;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: .5em;
}

/* Comments */
.sf-insight-comment-box {
    padding-left: 20%;
}
.sf-insight-comment-box img {
    float:left;
    margin-left: -25%;
    border-radius: 50%;
}
.sf-insight-comment-box h3 {
  	font-family: Arial, 'Segoe UI', sans-serif;
  	font-weight: 700;
    font-size: 14px;
    margin: .5rem 1rem !important;
}
.sf-insight-comment-box p {
    margin: .5rem 1rem !important;
    font-size: 14px;
}
.sf-insight-comment-time-ago {
	float: right;
    font-size: 11px;
  	font-family: Arial, 'Segoe UI', sans-serif;
    text-transform: uppercase;
  	font-weight: 400;
}
.sf-insight-white-container .km-content.km-widget.km-scroll-wrapper {
    background: #ffffff;
}
.sf-insight-list-bordered,
.sf-insight-white-container .km-content ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    background: #ffffff;
}
.sf-insight-comment-field, .add-comment-textarea {
    border: none !important;
    width:100%  !important; 
    padding: 0 1em !important;
    margin-bottom: -2px !important;
    height: 45px !important;
    line-height: 45px !important;
  	font-family: Arial, 'Segoe UI', sans-serif !important;
  	font-weight: 400 !important;
    font-size: 14px !important;
    resize: none !important;
    
}

/* Search */
.sf-insight-search-form .fa-search {
    color: #999999 !important
}
.sf-insight-search-form input {
    padding-left: 10% !important;
    width: 100% !important;
    font-size: 14px !important;
}
.sf-insight-search-results a {
  	font: 400 22px/1 'Roboto Condense', Arial, 'Segoe UI', sans-serif;  
  	color: #496CB6;
  	text-decoration: none !important;
}
.sf-insight-search-results li.km-state-active,
.sf-insight-search-results li.km-state-active a{
  	background: #496CB6 !important;
}
.sf-insight-search-results a:after {
   	display: none !important;
}
.sf-insight-group-header {
    padding: .3rem 1rem .3rem .2rem;
    font-weight: normal;
  	font-family: Arial, 'Segoe UI', sans-serif !important;
    font-size: 11px;
    text-transform: uppercase;
    color: #333333;
}
.sf-insight-group-header span + span{
    float: right;
}

#post-list .km-list li {
    padding: 1em 0;
}
img[src=''] {
    display: none;
}