<div data-role="view" id="login" data-title="Login" data-show="demoApplication.login.init" data-layout="main-nonav" data-stretch="true">
    <form class="dec-valigned">
        <ul data-role="listview" data-style="inset">
            <div>
                <image src="images/main-logo.png" width="80%" style="display:block; margin:auto;"/>
            </div>
            <div>                
    		  <h4 class="dec-title">Quantum</h4>
    		  <h1 class="dec-bigtitle">Mobile</h1>
            </div>
            <div>  
                <input id="username-input" type="text" name="username" class="dec-text" data-bind="value: user.username" placeholder="Username" />
                <input type="password" name="password" class="dec-text" data-bind="value: user.password" placeholder="Password" />
            </div>
            <div>
                <button id="login-btn" style="width: 100%" data-role="button" data-click="demoApplication.login.submit" class="dec-button-green">Login</button>
            </div>
        </ul>
    </form>
</div>